@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap");

body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

a:-webkit-any-link {
  text-decoration: none;
}

.imgg {
  border-radius: 50%;
  float: right;
  height: 50px;
  width: 40px;
  margin-top: 16px;
  margin-right: 40px;
}

.img1 {
  position: relative;
  height: 40px;
  width: 82px;
  top: 16px;
  left: 48px;
}

.btn {
  border: 1px solid black;
  width: 200px;
  height: 40px;
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #171f46;
}

.btn1 {
  background-color: #0b69ff;
  color: #ffffff;
  left: 29.17%;
  right: 56.94%;
  top: 11.52%;
  bottom: 84.57%;
  font-family: "Roboto", sans-serif;
  border-style: none;
  width: 200px;
  height: 40px;
}

.topbar {
  width: 1440px;
  height: 72px;
  position: relative;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

.nav {
  width: 600px;
  height: 40px;
  margin: 0 auto;
  margin-top: 46px;
}

.main-container {
  width: 80%;
  margin: 0 10%;
}

.search {
  box-sizing: border-box;
  width: 648px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d7dfe9;
  border-radius: 3px;
  margin-top: 32px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #f5f5f5;
  grid-gap: 32px;
}

.grid-item {
  margin-top: 32px;
  margin-right: 32px;
  box-sizing: border-box;
  width: 360px;
  height: 192px;
  border: 1px solid #d7dfe9;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
}

.div1 {
  display: flex;
  width: 80%;
  height: 50%;
  box-sizing: border-box;
  background: #ffffff;
}

.img2 {
  width: 40px;
  height: 40px;
  border-radius: 4%;
  border: 1px solid #f5f5f5;
  display: flex;
  margin: 10%;
}

.title {
  width: 100%;
  height: 25%;
  margin-left: 0%;
  margin-top: 12%;
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: small;
  color: #171f46;
}

.category {
  width: 100%;
  height: 10%;
  margin-left: -67%;
  margin-top: 20%;
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #7e858e;
}

.link {
  width: 80%;
  height: 25%;
  margin-left: 10%;
  display: block;
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #0b69ff;
}

.description {
  display: block;
  margin-right: 5%;
  margin-left: 10%;
  margin-top: 4%;
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #7e858e;
}

.Resource{
  width: max-content;
  height: 20%;
  margin-left: 10%;
  
}
.btn3{
  margin-left: 10%;
  border: none;
  background: #f5f5f5;
  color: black;
}
.div2 {
  display: flex;
  width: 80%;
  height: 50%;
  box-sizing: border-box;
  background: #f5f5f5;
}